{% extends "tags/foundations/notLoggedFoundation.html" %}
{% block title %}Password reset{% endblock %}
{%block main%}
<main>
    <div class="banner">
    
    </div>
    
    <div class="login">
    <form action="/login" method="post" class="logging">
        <h1>Změň si heslo</h1>
        {% if validlink %}
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Change my password" /></p>
        {% else %}
        <p>Platnost odkazu vypršela. Prosíme nechte si zaslat odkaz znovu.</p>
        {% endif %}
    </form>
    </div>
    
</main>
{% endblock %}