<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       <!-- <link rel="stylesheet" href="../static/css/login.css">
        <link rel="stylesheet" href="../static/css/general.css">-->
       <link rel="stylesheet" href="{% static 'css/general.css'%}">
        <link rel="stylesheet" href="{% static 'css/login.css'%}">
    </head>
    <body>
        <header>
            <img src="{% static 'img/whiteLogoNoBG.png' %}"><br>
            <div class="headline"><h1>Litomcamp</h1><br>
            <h2>Rozvíjej své dovednosti naplno</h2></div>
        </header>
        <main>
            <div class="banner">
            
            </div>
            
            <div class="login">
                <h1>Obnov si heslo</h1>
            <form method="post">
                {% csrf_token    %}
                {{form.as_p}}
                {% for message in messages %}
                <p><b>Chyba při zasílání obnovovacího odkazu: </b>{{message}}</p>
                {% endfor %}
                <input type="submit" class="submit" value="Obnovit heslo">
                
            </form>
            </div>
            
        </main>
        <footer>
            <div>
                <h3>Turistický oddíl mládeže Čr LITOMÍCI č.oddílu: 21205</h3><br>
                <p>
                    Dukelské kasárny, Na Vinici<br>
                    412 01 Litoměřice, Česká republika, EU<br>
                    <br>
                    tel. +420 702 210 101<br>
                    tel. +420 776 469 914<br>
                    turistaklitomici@gmail.com
                </p>
            </div>
        </footer>
        
        <script src="" async defer></script>
    </body>
</html>