{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/general.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.css'%}">
    </head>
    <body>
        <header>
            <div class="headline"><h1>Localhost 8000</h1><br>
            <h2></h2></div>
        </header>
        <main>
            <h1>Seznam projektů</h1>
            <ul>
                <li><a href="login">ORG-system</a></li>
                <li><a href="admin">testy</li>
                    <li><a href="/logout"><button type="button" class="btn btn-light">Odhlásit se</button></a></li>
                </ul>
        </main>
        <footer>
            <div>
                
            </div>
        </footer>
        
        <script src="" async defer></script>
    </body>
</html>