{% extends "tags/foundations/notLoggedFoundation.html" %}
{%block main%}
<main>
    <div class="banner">
    </div>
    <div class="login">
            <h1>Přizvěte další osobu do vašeho účtu</h1><br>        
            <form method="post" action="">
                {% csrf_token %}
                {{ form.password1.label_tag }}
                {{ form.password1 }}<br>
                {{ form.password2.label_tag }}
                {{ form.password2 }}<br>
                <button type="submit" class="btn btn-lg btn-primary">Dokončit registraci</button>
            </form>

</form>
    
    </div>
    
</main>
{% endblock %}


<script>
    function msgShow(txt) {
      alert(txt);
    }
    </script>
    <h1>Přizvěte další osobu do vašeho účtu</h1><br>
    {% for message in messages%}
    <script>
            msgShow("{{message}}");
    </script>
    {{message}}
    {%endfor%}
    
    <form method="post" action="">
        {% csrf_token %}
        {{ form.password1.label_tag }}
        {{ form.password1 }}<br>
        {{ form.password2.label_tag }}
        {{ form.password2 }}<br>
        <button type="submit" class="btn btn-lg btn-primary">Dokončit registraci</button>
    </form>