{% extends "tags/foundations/notLoggedFoundation.html" %}
{%block main%}
<main>
    <div class="banner">
    
    </div>
    
    <div class="login">
        <h1>Obnov si heslo</h1>
        <form method="post" class="resetPasswsd">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Obnovit heslo">
        </div>
            {% for message in messages %}
        <p><b>Chyba při zasílání obnovovacího odkazu: </b>{{message}}</p>
        {% endfor %}

</form>
    
    </div>
    
</main>
{% endblock %}